.container{
    max-width: 50%;
}

.header{
    background: rgb(221, 51, 85);
    color: whitesmoke;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
}

